In [1]:
tuple3=('python',)*3
print(tuple3)

('python', 'python', 'python')

In [2]:
tuple4=("Python","For","Everyone")*4
print(tuple4)

('Python', 'For', 'Everyone', 'Python', 'For', 'Everyone', 'Python', 'For', 'Everyone', 'Python', 'For', 'Everyone')

In [4]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
print(tuple5[2:5])
print(tuple5[1:])
print(tuple5[:3])
print(tuple5[-5:-2])
print(tuple5[-2:])
print(tuple5[:-5])

('Melon', 'Kiwi', 'Cherry')
('Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple')
('Mangoes', 'Banana', 'Melon')
('Melon', 'Kiwi', 'Cherry')
('Orange', 'Apple')
('Mangoes', 'Banana')

In [6]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
if "Melon" in tuple5:
    print("Yes it is present")
else:
    print("No, It is not present")

Yes it is present

In [7]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
if "Watermelon" not in tuple5:
    print("Yes it is not present")
else:
    print("No, It is present")

Yes it is not present

In [8]:
tuple4=("Python","For","Everyone")
del(tuple4)
print(tuple4)

NameError: name 'tuple4' is not defined

In [22]:
#converting string and list into tuple
list1=[0,1,2]
set={125,"hello",-90}
print(tuple(list))
print(tuple('python'))
print(tuple(set))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')
('hello', 125, -90)

In [12]:
x=(1,2,3,4,5,6,7,8,9)
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
x = (2,)
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

((2,),)
(((2,),),)
((((2,),),),)
(((((2,),),),),)
((((((2,),),),),),)
(((((((2,),),),),),),)
((((((((2,),),),),),),),)
(((((((((2,),),),),),),),),)
((((((((((2,),),),),),),),),),)
(((((((((((2,),),),),),),),),),),)

In [15]:
x = (2,3,4,5)
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

((2, 3, 4, 5),)
(((2, 3, 4, 5),),)
((((2, 3, 4, 5),),),)
(((((2, 3, 4, 5),),),),)
((((((2, 3, 4, 5),),),),),)
(((((((2, 3, 4, 5),),),),),),)
((((((((2, 3, 4, 5),),),),),),),)
(((((((((2, 3, 4, 5),),),),),),),),)
((((((((((2, 3, 4, 5),),),),),),),),),)
(((((((((((2, 3, 4, 5),),),),),),),),),),)

In [18]:
x = (2,3,4,5,6)
n = 10
for i in range(int(10)):
    print(x)

(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)

In [19]:
x = (2,3,4,5,6)
for i in x:
    print(i)

2
3
4
5
6

In [20]:
x = ("geeks","for","geeks")
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

(('geeks', 'for', 'geeks'),)
((('geeks', 'for', 'geeks'),),)
(((('geeks', 'for', 'geeks'),),),)
((((('geeks', 'for', 'geeks'),),),),)
(((((('geeks', 'for', 'geeks'),),),),),)
((((((('geeks', 'for', 'geeks'),),),),),),)
(((((((('geeks', 'for', 'geeks'),),),),),),),)
((((((((('geeks', 'for', 'geeks'),),),),),),),),)
(((((((((('geeks', 'for', 'geeks'),),),),),),),),),)
((((((((((('geeks', 'for', 'geeks'),),),),),),),),),),)

In [26]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
y = list(tuple5)
y.append("Watermelon")
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple', 'Watermelon')

In [29]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
y = list(tuple5)
y[5] = "Watermelon"
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Watermelon', 'Apple')

In [30]:
y = list(tuple5)
y[3] = "Strawberry"
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon', 'Apple')

In [31]:
y = list(tuple5)
y.remove("Mangoes")
tuple5=tuple(y)
print(tuple5)

('Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon', 'Apple')

In [32]:
y = list(tuple5)
y.pop()
tuple5=tuple(y)
print(tuple5)

('Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon')

In [33]:
del tuple5
print(tuple5)

NameError: name 'tuple5' is not defined

In [34]:
x = (1,2,3) #packing
(a,b,c) = x #unpacking
print(a+b+c)
print(a,b,c)

6
1 2 3

In [37]:
fruits=("apple","Banana","Orange") #packing
(Red,Yellow,Orange)=fruits #unpacking
print(Orange)
print(Yellow)

Orange
Banana

In [39]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
(a,b,c) = fruits
print('a:',a)
print('b:',b)
print('c:',c)

Enter the Value:12
Enter the Value:13
Enter the Value:14
a: apple
b: Banana
c: Orange

In [40]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
print(tup)
(a,b,c) = fruits
print('a:',a)
print('b:',b)
print('c:',c)
print(tup)

Enter the Value:12
Enter the Value:13
Enter the Value:14
(12, 13, 14)
a: apple
b: Banana
c: Orange
(12, 13, 14)

In [41]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
print("Id: ",id(tup),tup)
print("Fruits: ",id(fruits),fruits)
(a,b,c) = fruits
print("Id: ",id(a),'a:',a)
print("Id: ",id(b),'b:',b)
print("Id: ",id(c),'c:',c)
tup=(a,b,c)
print("Id: ",id(tup),tup)
print("Fruits: ",id(fruits),fruits)

Enter the Value:12
Enter the Value:13
Enter the Value:14
Id:  886293804096 (12, 13, 14)
Fruits:  886289291904 ('apple', 'Banana', 'Orange')
Id:  886279511152 a: apple
Id:  886293828272 b: Banana
Id:  886252976176 c: Orange
Id:  886289274368 ('apple', 'Banana', 'Orange')
Fruits:  886289291904 ('apple', 'Banana', 'Orange')

In [51]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
print(tuple5)
(green, yellow, red)=tuple5
print(green)
print(yellow)
print(red)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple')

ValueError: too many values to unpack (expected 3)

In [52]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, yellow, *red)=tuple5
print(green)
print(yellow)
print(red)

Mangoes
Banana
['Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple']

In [53]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, *yellow, *red)=tuple5
print(green)
print(yellow)
print(red)

SyntaxError: two starred expressions in assignment (<ipython-input-53-0d0bb779a690>, line 2)

In [54]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, *yellow, red)=tuple5
print(green)
print(yellow)
print(red)

Mangoes
['Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange']
Apple

In [55]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(*green, yellow, red)=tuple5
print(green)
print(yellow)
print(red)

['Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry']
Orange
Apple

In [56]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
for i in range(len(tuple5)):
    print(tuple5[i])

Mangoes
Banana
Melon
Kiwi
Cherry
Orange
Apple

In [57]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
i=0
while i < len(tuple5):
    print(tuple5[i])
    i+=1

Mangoes
Banana
Melon
Kiwi
Cherry
Orange
Apple

In [58]:
#Reverse a tuple
def Reverse(tuples):
    new_tup=tuples[::-1]
    return new_tup

tuples=('z','a','d','f','e')
print(Reverse(tuples))

('e', 'f', 'd', 'a', 'z')

In [59]:
x=(1,2,3,4,5)
y=x[::-1]
print(y)

(5, 4, 3, 2, 1)

In [64]:
#Counting without using length
def countX(tup, x):
    count=0
    for i in tup:
        if(i==x):
            count = count+1
    return count
tup=(10,8,5,2,10,15,10,8,5,8,8,2)
enq=8
print(countX(tup, enq))
print(countX(tup, 10))

4
3

In [66]:
tup=(10,8,5,2,10,15,10,8,5,8,8,2)
num=int(input('Enter a number'))
count=0
for i in tup:
    if i==num:
        count=count+1
print('The number of times its repeated: ',count)

Enter a number8
The number of times its repeated:  4

# Sets

In [67]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
print(x)

{2, 5, 8, 10, 15}

In [69]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
print(len(x))

5

In [70]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
y={"hey","hey","hello","alright","good","welldone","good"}
z={"true","false","True","False","true"}
print(x)
print(y)
print(z)

{2, 5, 8, 10, 15}
{'welldone', 'hello', 'good', 'hey', 'alright'}
{'true', 'False', 'false', 'True'}

In [71]:
x=(10,8,5,2,10,15,10,8,5,8,8,2)
z=x
y=set((x))
print(y)
x=tuple((y))
print(x)
length=len(x)
print(length)

TypeError: 'set' object is not callable