In [1]:
print("HEllo World")

HEllo World

In [2]:
2+5

7

In [3]:
10-7

3

In [4]:
100/5

20.0

In [5]:
101%5

1

In [6]:
123*987

121401

In [7]:
if 3>2:
    print("3 is greater than 2")

3 is greater than 2

In [8]:
a =2
b = 4
print(a+b)

6

In [9]:
x = 5
y =  3.3
z = "Python"

In [11]:
# ---- Single comment
"""
This is a comment 
written in more than just one line
"""

'\nThis is a comment \nwritten in more than just one line\n'

In [12]:
print('Python')

Python

In [13]:
type('Python')

str

In [14]:
type(3.5)

float

In [15]:
#Same memory cell
a=50
b=a
print(a)
print(b)

50
50

In [16]:
a = 50
b =a
print(id(a))
print(id(b))
# Reassigned variable a
a = 500
print(id(a))
b = 700
print(id(b))

140721218923856
140721218923856
887980206640
887980206512

In [22]:
# Way to declare variable
name = "A"
Name = "B" 
naMe = "C"
NAME = "D"
n_a_m_e = "E"
_name = "F"
name_ = "G"
_name_ = "H"
na56me = "I"
print(name,Name,naMe,NAME,n_a_m_e,_name,name_,_name_,na56me)

A B C D E F G H I

In [24]:
x=y=z=50
print(x)
print(y)
print(z)
print(x,"\n",y,"\n",z)

50
50
50
50
 50
 50

In [25]:
a,b,c=3,7,5
print(a)
print(b)
print(c)

3
7
5

In [26]:
a=5
print(a)
print(type(a))
#printing value of a
b = str() #type casting
print(type(b))

5
<class 'int'>
<class 'str'>

In [27]:
#type Casting
a =5
b=7.7
c=str(a)
print(a,b,c)
print(type(c))

5 7.7 5
<class 'str'>

In [29]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [30]:
# Case Sensitive
a = 4
A = "Sally"
print(a, A)

4 Sally

In [31]:
x="Python"+'is'+'awesome'
print(x)

Pythonisawesome

In [32]:
y = 'Python'+5

TypeError: can only concatenate str (not "int") to str