In [1]:
#Conditional Statement
a = 1 if 20 >30 else 0
print(" the value of a is: ", str(a))

 the value of a is:  0

In [2]:
a = 1 if 10 > 20 else 0
print(" the value of a is: ", str(a))

 the value of a is:  0

In [3]:
a = 1 if 10 > 20 else 0
print(" the value of a is: ", a)
print(" the data type of a is: ", type(a))
print(" the value of a is: ", str(a))
print(" the data type of a is: ", type(str(a)))

 the value of a is:  0
 the data type of a is:  <class 'int'>
 the value of a is:  0
 the data type of a is:  <class 'str'>

In [4]:
x, y = 4,5
if x>y:
    print('x is greatest.')
else:
    print('y is greatest.')

y is greatest.

In [5]:
x = int(input('Enter value of x:'))
y = int(input('Enter value of y:'))
z = int(input('Enter value of z:'))
if x>y and x>z:
    print('X is greatest')
elif y>z:
    print('Y is greatest')
else:
    print('Z is greatest')

Enter value of x:11
Enter value of y:14
Enter value of z:12
Y is greatest

# Methods or Function are present in every programming language
pre-defined,
user-defined,
it is a block of statement

In [7]:
x = "Awesome"
def xyz():
    print('Python is '+x)
    print('I am learning it')
    print('I will be expert')
    print('in:',2,'months')
xyz()

Python is Awesome
I am learning it
I will be expert
in: 2 months

In [13]:
ac = 20
def fun1():
    ab=10
    print('Value is :', ab)
    print('python is :', ac)
    
def fun2():
    ab=10
    ac=15
    print('Python is :', ab)
    print('python is :', ac)
fun1()
fun2()

Value is : 10
python is : 20
Python is : 10
python is : 15

# Arthimetric Operation

In [17]:
num1=50
num2= 37
def arthimetric():
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    div=num1/num2
    print('Add :',add, 'Sub :',sub, 'Mul :',mul, 'Div :',div)
arthimetric()

Add : 87 Sub : 13 Mul : 1850 Div : 1.3513513513513513

In [18]:
x = "awesome"
def myfunc():
    x="fantastic"
    print("Python is "+x)
myfunc()
print('Python is '+x)

Python is fantastic
Python is awesome

In [19]:
x = "awesome"
def myfunc():
    global x
    x="fantastic"
    print("Python is "+x)
myfunc()
print('Python is '+x)

Python is fantastic
Python is fantastic

In [22]:
x = "awesome"
def myfunc():
    global x
    x="fantastic"
    print("Python is "+x)
def myfunc1():
    y="Beast"
    print(x+" "+y)
myfunc()
myfunc1()
print('Python is '+x)

Python is fantastic
fantastic Beast
Python is fantastic

In [24]:
#Assigning and Deleting variable
x = 6
print(x)
del x
#
print(x)

6

In [25]:
#Python variable storage
a = 100000000000000000000000000000000000
a+=1
print(type(a))
print(a)

<class 'int'>
100000000000000000000000000000000001

In [27]:
#printing single value
a=3
print(a)
print((a))
print(((a)))

3
3
3

In [28]:
x = 4+5j
x=[1,2,3,4,5,6]
y=(1,2,3,4,5,6)
range(0,10)
x={a:1, b:2}
x={}

NameError: name 'b' is not defined

In [29]:
x={1,2,3,4,5}
print(x)

{1, 2, 3, 4, 5}

In [30]:
x = {'a':1,'b':2} #key value pair
print(x)
print(x['a'])
print(x['b'])

{'a': 1, 'b': 2}
1
2

In [31]:
a=5
print("The type of a", type(a))

b=40.5
print("The type of b", type(b))

c=1+3j
print('The value off c is:', c)
print('the type of c', type(c))
print("c is a complex number", isinstance(1+3j, complex))

The type of a <class 'int'>
The type of b <class 'float'>
The value off c is: (1+3j)
the type of c <class 'complex'>
c is a complex number True

In [32]:
x=5
a=67.89
y=complex(x)
b=complex(a)
print(y)
print(b)

(5+0j)
(67.89+0j)

In [34]:
str="string using double quotes"
print(str)
s='''''A multiline
string'''
print(s)

string using double quotes
''A multiline
string

In [35]:
name='Nikita'
print(name)
print(name[0])

Nikita
N

In [36]:
str1='hello nikita'
str2='how are you'
print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1*3)
print(str1+str2)
print(str2[0])

he
o
hello nikitahello nikita
hello nikitahello nikitahello nikita
hello nikitahow are you
h

In [37]:
import random #Random number
print(random.randrange(-34,110234576))

47364978

# Iteration

In [38]:
for i in 'Welcome To Python Programming':
    print(i)

W
e
l
c
o
m
e

T
o

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [39]:
#Length
a="Hello, World"
print(len(a))

12

In [40]:
txt = "The best things in life are not free!"
print("free" in txt)

True

In [41]:
statement = 'this is python class'
if 'python' in statement:
    print("yes, It is present in the sentences")

yes, It is present in the sentences

In [42]:
txt = "The best things in life are not free!"
print("expensive" not in txt)

True

In [43]:
statement = 'this is python class'
if 'python' not in statement:
    print("yes, It is not present in the sentences")
else:
    print("No, It is present in the sentence")

No, It is present in the sentence

In [44]:
x = input("Enter first value: ")
y = input("Enter second value: ")
z = x + y
print('the addition is : ',z)

Enter first value: 56
Enter second value: 94
the addition is :  5694

In [45]:
x = int(input("Enter first value: "))
y = int(input("Enter second value: "))
z = x + y
print('the addition is : ',z)

Enter first value: 36
Enter second value: 45
the addition is :  81

In [46]:
#multiple input using split
x,y = input("Enter two values: ").split()
print("Number of boys: ",x)
print("number of girls: ",y)
print()

x, y, z = input("Enter two values: ").split()
print("Total number of students: ",x)
print("Number of boys: ",y)
print("Number of girls: ",z)
print()

Enter two values: 28 22
Number of boys:  28
number of girls:  22

Enter two values: 100 59 41
Total number of students:  100
Number of boys:  59
Number of girls:  41

In [49]:
x,y = input("Enter two values: ").split()
print("Number of boys is {} and number of girls is {} ".format(x,y))
print()

Enter two values: 28 30
Number of boys is 28 and number of girls is 30

In [50]:
x,y = input("Enter two values: ").split()
print("1st Number is {} and 2nd number is {} and 3rd numberis {} ".format(x,y,20))
print()

Enter two values: 45 67
1st Number is 45 and 2nd number is 67 and 3rd numberis 20

In [51]:
b = "Hello World!"
print(b[2:5])

llo

In [52]:
b = "Hello World!"
print(b[2:])

llo World!

In [53]:
b = "Hello World!"
print(b[:5])

Hello

In [55]:
b = "Hello World!"
print(b[-5:-2])

orl

In [56]:
b = "Hello World!"
print(b.upper())

HELLO WORLD!

In [57]:
b = "Hello World!"
print(b.lower())

hello world!

In [58]:
b = "   Hello World!"
print(b.strip())

Hello World!

In [59]:
b = "Hello World!"
print(b.replace("World","Everyone"))

Hello Everyone!

In [61]:
b = "Hello, World!"
print(b.split(","))

['Hello', ' World!']

In [62]:
b = "Hello World!"
print(b.split(" "))

['Hello', 'World!']

In [63]:
age=36
txt="My name is John, and i am {}"
print(txt.format(age))

My name is John, and i am 36

In [64]:
quantity=3
itemno = 567
price = 49.95
myorder="I want {} pieces of item {} for {} dollars"
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars

In [ ]:
floor and ceil
x = 2.01
floor of x: 2
ceil of x: 3

In [65]:
#Relational Operators
a=13 
b=33
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [66]:
#a==b comparator operator
#a=b assignment operator
b=5
a=11
print(a==b)
print(a)

False
11

In [67]:
#Logical Operator
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [69]:
#Bitwise Opeartor
a = 10
b = 4
print(a & b) # and operator
print(a | b) # or operator
print(~a) # not opeartor
print(a ^ b) # xor operator

0
14
-11
14

In [70]:
# Identity Operator
a=10
b=20
c=a
print(a is not b)
print(a is c)

True
True

In [72]:
#Operator Precedence
expr = 10+20*30
print(expr)
expr=(10+20)*30
print(expr)

name="Nirmal"
age=0
if name=='Nirmal' or name == "Resham" and age>=2:
    #true or false and false
    #true or false
    #true
    print("Hello! Welcome")
else:
    print("Good Bye!!")

610
900
Hello! Welcome

In [73]:
name="Nirmal"
age=0
if name=='Nirmal' or name == "Resham" and age>=2 or age<2:
    #true or false and false or true
    #true or false
    #true
    print("Hello! Welcome")
else:
    print("Good Bye!!")

Hello! Welcome