In [1]:
x = [1,2,3,4,5]
y = []
for i in x:
    y.append(i)
print(y)

[1, 2, 3, 4, 5]

In [3]:
x = [1,2,3,4,5]
y = []
for i in x:
    if i%2==0:
        y.append(i)
print(y)

[2, 4]

In [4]:
#List comprehsive
y=[i for i in x if i%2 ==0]
print(y)

[2, 4]

In [5]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [6]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [9]:
fruits=["apple","banana","cherry","kiwi","mango"]
for x in fruits:
    print(x)
[i for i in fruits]

apple
banana
cherry
kiwi
mango

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [10]:
[print(i) for i in fruits]

apple
banana
cherry
kiwi
mango

[None, None, None, None, None]

In [12]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for i in range(10,31):
    if i < 25:
        print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [15]:
[i for i in range(10,31) if i < 25]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [16]:
newlist=[x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [17]:
{i for i in range(10,31) if i < 25}

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

In [18]:
(i for i in range(10,31) if i < 25)

In [19]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    newlist.append(x.upper())
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [21]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [24]:
fruits=["apple","banana","cherry","kiwi","mango"]
[print(x.upper()) for x in fruits]

APPLE
BANANA
CHERRY
KIWI
MANGO

[None, None, None, None, None]

In [26]:
fruits=["apple","banana","cherry","kiwi","mango"]
[print([x.upper()]) for x in fruits]

['APPLE']
['BANANA']
['CHERRY']
['KIWI']
['MANGO']

[None, None, None, None, None]

In [27]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if x=='banana':
        newlist.append('orange')
    else:
        newlist.append(x)
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [28]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x if x!="banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [35]:
fruits=["apple","banana","Cherry","kiwi","Mango"]
fruits.sort()
print(fruits)

['Cherry', 'Mango', 'apple', 'banana', 'kiwi']

In [31]:
list=[100,90,30,12,1000]
list.sort()
print(list)

[12, 30, 90, 100, 1000]

In [34]:
fruits=["apple","Banana","cherry","Kiwi","mango"]
fruits.sort(reverse=True)
print(fruits)

['mango', 'cherry', 'apple', 'Kiwi', 'Banana']

In [33]:
list=[100,90,30,12,1000]
list.sort(reverse=True)
print(list)

[1000, 100, 90, 30, 12]

In [38]:
fruits=["Kiwi","apple","mango","Banana","cherry"]
fruits.sort(key=str.lower)
print(fruits)

['apple', 'Banana', 'cherry', 'Kiwi', 'mango']

In [39]:
fruits=["Kiwi","apple","mango","Banana","cherry"]
fruits.sort(key=str.upper)
print(fruits)

['apple', 'Banana', 'cherry', 'Kiwi', 'mango']

In [40]:
fruits=["Kiwi","apple","mango","Banana","cherry"]
fruits.reverse()
print(fruits)

['cherry', 'Banana', 'mango', 'apple', 'Kiwi']

In [41]:
x=['a','aa','1','2.43','abc','AB','AA']
x.sort()
print(x)

['1', '2.43', 'AA', 'AB', 'a', 'aa', 'abc']

In [42]:
x=['a','aa','1','2.43','abc','AB','AA']
x.sort(reverse=True)
print(x)

['abc', 'aa', 'a', 'AB', 'AA', '2.43', '1']

In [43]:
x=['a','aa','1','2.43','abc','AB','AA']
x.reverse()
print(x)

['AA', 'AB', 'abc', '2.43', '1', 'aa', 'a']

In [44]:
x=[1,100,-0.45,0,23]
x.sort()
print(x)

[-0.45, 0, 1, 23, 100]

In [45]:
number=[45,64,18,1,36]
number.sort()
print(number)
decimalnumber=[9.01,0.22,3.11,-7.00,45.234]
decimalnumber.sort()
print(decimalnumber)
strings=["have","a","good","day"]
strings.sort()
print(strings)

[1, 18, 36, 45, 64]
[-7.0, 0.22, 3.11, 9.01, 45.234]
['a', 'day', 'good', 'have']

In [46]:
number=[45,64,18,1,36]
number.sort(reverse=True)
print(number)
decimalnumber=[9.01,0.22,3.11,-7.00,45.234]
decimalnumber.sort(reverse=True)
print(decimalnumber)
strings=["have","a","good","day"]
strings.sort(reverse=True)
print(strings)

[64, 45, 36, 18, 1]
[45.234, 9.01, 3.11, 0.22, -7.0]
['have', 'good', 'day', 'a']

In [47]:
number=[45,64,18,1,36]
number.reverse()
print(number)
decimalnumber=[9.01,0.22,3.11,-7.00,45.234]
decimalnumber.reverse()
print(decimalnumber)
strings=["have","a","good","day"]
strings.reverse()
print(strings)

[36, 1, 18, 64, 45]
[45.234, -7.0, 3.11, 0.22, 9.01]
['day', 'good', 'a', 'have']

In [48]:
fruits=["Kiwi","apple","mango","Banana","cherry"]
nlist=fruits.copy()
print(nlist)

['Kiwi', 'apple', 'mango', 'Banana', 'cherry']

In [49]:
list1=["a","b","c"]
list2=[1,2,3]
list3=list1+list2
list4=list2+list1
print(list3)
print(list4)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 'a', 'b', 'c']

In [50]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
list2.extend(list1)
print(list1)
print(list2)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [51]:
fruits=["Kiwi","apple","mango","Banana","cherry"]
nlist=fruits
print(nlist)

['Kiwi', 'apple', 'mango', 'Banana', 'cherry']

In [52]:
list=['cat',0,6.7]
new_list=list[:]
print(list)
new_list.append("dog")
print('Old List',list)
print('New List',new_list)

['cat', 0, 6.7]
Old List ['cat', 0, 6.7]
New List ['cat', 0, 6.7, 'dog']

In [59]:
L=[1,2,3,4,5,6,7,8,9]
count=0
for x in L:
    sum=sum+x
    count=count+1
print('Sum',sum)
print('Count',count)
avg=sum/count
print('Average: ',avg)

Sum 135
Count 9
Average:  15.0

In [62]:
L=[1,2,3,4,5,6,7,8,9]
count1 = sum(L)
avg = count1/len(L)
print('Sum= ',count1)
print('Average= ',avg)

TypeError: 'int' object is not callable

In [63]:
list1=[1,2,3,4,5,6,7,8,9]
even_count,odd_count=0,0
for num in list1:
    if num%2==0:
        even_count+=1
    else:
        odd_count+=1
print("Even Count: ",even_count)
print("Odd Count: ",odd_count)

Even Count:  4
Odd Count:  5

In [64]:
list1=[1,-2,3,0,4,-5,6,0,0,7,8,-9]
pos,neg,zero=0,0,0
for num in list1:
    if num<0:
        neg+=1
    elif num==0:
        zero+=1
    else:
        pos+=1
print("Positive Count: ",pos)
print("Negative Count: ",neg)
print("zero Count: ",zero)

Positive Count:  6
Negative Count:  3
zero Count:  3

In [68]:
import copy
list1=[1,2,[3,5],4]
list2=copy.copy(list1)
print("li1 Id: ",id(list1),"Value: ",list1)
print("li2 Id: ",id(list2),"Value: ",list2)
list3=copy.deepcopy(list1)
print("li3 Id: ",id(list3),"Value: ",list3)

li1 Id:  737084365312 Value:  [1, 2, [3, 5], 4]
li2 Id:  737084351552 Value:  [1, 2, [3, 5], 4]
li3 Id:  737084338304 Value:  [1, 2, [3, 5], 4]

In [72]:
list1=[1,2,[3,5],4]
list2=copy.deepcopy(list1)
print("The original elements before deep copying")
for i in range(0,len(list1)):
    print(list1[i],end=" ")
print("\r")
list2[2][0]=7
print("The new list of elements after deep copying")
for i in range(0,len(list1)):
    print(list2[i],end=" ")
print("\r")
print("The original elements after deep copying")
for i in range(0,len(list1)):
    print(list1[i],end=" ")
print("\r")

The original elements before deep copying
1 2 [3, 5] 4
The new list of elements after deep copying
1 2 [7, 5] 4
The original elements after deep copying
1 2 [3, 5] 4

In [74]:
list1=[1,2,[3,5],4]
list2=copy.copy(list1)
print("The original elements before deep copying")
for i in range(0,len(list1)):
    print(list1[i],end=" ")
print("\r")
list2[2][0]=7
print("The new list of elements after deep copying")
for i in range(0,len(list1)):
    print(list2[i],end=" ")
print("\r")
print("The original elements after deep copying")
for i in range(0,len(list1)):
    print(list1[i],end=" ")
print("\r")
print("li1 Id: ",id(list1))
print("li2 Id: ",id(list2))

The original elements before deep copying
1 2 [3, 5] 4
The new list of elements after deep copying
1 2 [7, 5] 4
The original elements after deep copying
1 2 [7, 5] 4
li1 Id:  737084221568
li2 Id:  737084221824

In [ ]:
#Shallow copy not on 1d list, it work on list more than 1 d

# Tuples

In [75]:
fruits=("Apples","Banana","Grapes","Mangoes","Pineapples")
print(fruits)

('Apples', 'Banana', 'Grapes', 'Mangoes', 'Pineapples')

In [76]:
fruits=("Apples","Banana","Grapes","Mangoes","Pineapples")
print(len(fruits))

5

In [ ]:
list=[1]  # Single value in list
tuple=(1,) # Single value in tuple

In [77]:
ntuple=("Apple")
print(type(ntuple))
ntuple=("Apple",)
print(type(ntuple))

<class 'str'>
<class 'tuple'>

In [80]:
tuple1=(1,2,3,4,5)
tuple2=(True,False,True,False)
tuple3=(1,"hey",4,"Everyone",-9.0,1)#Complex number cannot be used with tuple
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 3, 4, 5)
(True, False, True, False)
(1, 'hey', 4, 'Everyone', -9.0, 1)

In [82]:
tuple3=(1,"hey",4,"Everyone",-9.0,1)
print("Value of Var[0] = ",tuple3[0])
print("Value of Var[1] = ",tuple3[1])
print("Value of Var[2] = ",tuple3[2])

Value of Var[0] =  1
Value of Var[1] =  hey
Value of Var[2] =  4

In [83]:
tuple3=(1,"hey",4,"Everyone",-9.0,1)
print("Value of Var[0] = ",tuple3[-0])
print("Value of Var[1] = ",tuple3[-1])
print("Value of Var[2] = ",tuple3[-2])

Value of Var[0] =  1
Value of Var[1] =  1
Value of Var[2] =  -9.0

In [84]:
tuple1=(1,2,3,4,5)
tuple2=(True,False,True,False)
print(tuple1+tuple2)
print(tuple2+tuple1)

(1, 2, 3, 4, 5, True, False, True, False)
(True, False, True, False, 1, 2, 3, 4, 5)

In [85]:
x=(1,2,3,4,5)
x.append(6)
print(x)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
tuple1=(1,2,3,4,5)
tuple2=(True,False,True,False)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, True, False, True, False)