In [1]:
tuple3=('python',)*3
print(tuple3)

('python', 'python', 'python')

In [2]:
tuple4=("Python","For","Everyone")*4
print(tuple4)

('Python', 'For', 'Everyone', 'Python', 'For', 'Everyone', 'Python', 'For', 'Everyone', 'Python', 'For', 'Everyone')

In [4]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
print(tuple5[2:5])
print(tuple5[1:])
print(tuple5[:3])
print(tuple5[-5:-2])
print(tuple5[-2:])
print(tuple5[:-5])

('Melon', 'Kiwi', 'Cherry')
('Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple')
('Mangoes', 'Banana', 'Melon')
('Melon', 'Kiwi', 'Cherry')
('Orange', 'Apple')
('Mangoes', 'Banana')

In [6]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
if "Melon" in tuple5:
    print("Yes it is present")
else:
    print("No, It is not present")

Yes it is present

In [7]:
tuple5=("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
if "Watermelon" not in tuple5:
    print("Yes it is not present")
else:
    print("No, It is present")

Yes it is not present

In [8]:
tuple4=("Python","For","Everyone")
del(tuple4)
print(tuple4)

NameError: name 'tuple4' is not defined

In [22]:
#converting string and list into tuple
list1=[0,1,2]
set={125,"hello",-90}
print(tuple(list))
print(tuple('python'))
print(tuple(set))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')
('hello', 125, -90)

In [12]:
x=(1,2,3,4,5,6,7,8,9)
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
x = (2,)
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

((2,),)
(((2,),),)
((((2,),),),)
(((((2,),),),),)
((((((2,),),),),),)
(((((((2,),),),),),),)
((((((((2,),),),),),),),)
(((((((((2,),),),),),),),),)
((((((((((2,),),),),),),),),),)
(((((((((((2,),),),),),),),),),),)

In [15]:
x = (2,3,4,5)
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

((2, 3, 4, 5),)
(((2, 3, 4, 5),),)
((((2, 3, 4, 5),),),)
(((((2, 3, 4, 5),),),),)
((((((2, 3, 4, 5),),),),),)
(((((((2, 3, 4, 5),),),),),),)
((((((((2, 3, 4, 5),),),),),),),)
(((((((((2, 3, 4, 5),),),),),),),),)
((((((((((2, 3, 4, 5),),),),),),),),),)
(((((((((((2, 3, 4, 5),),),),),),),),),),)

In [18]:
x = (2,3,4,5,6)
n = 10
for i in range(int(10)):
    print(x)

(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)

In [19]:
x = (2,3,4,5,6)
for i in x:
    print(i)

2
3
4
5
6

In [20]:
x = ("geeks","for","geeks")
n = 10
for i in range(int(10)):
    x = (x,)
    print(x)

(('geeks', 'for', 'geeks'),)
((('geeks', 'for', 'geeks'),),)
(((('geeks', 'for', 'geeks'),),),)
((((('geeks', 'for', 'geeks'),),),),)
(((((('geeks', 'for', 'geeks'),),),),),)
((((((('geeks', 'for', 'geeks'),),),),),),)
(((((((('geeks', 'for', 'geeks'),),),),),),),)
((((((((('geeks', 'for', 'geeks'),),),),),),),),)
(((((((((('geeks', 'for', 'geeks'),),),),),),),),),)
((((((((((('geeks', 'for', 'geeks'),),),),),),),),),),)

In [26]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
y = list(tuple5)
y.append("Watermelon")
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple', 'Watermelon')

In [29]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
y = list(tuple5)
y[5] = "Watermelon"
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Watermelon', 'Apple')

In [30]:
y = list(tuple5)
y[3] = "Strawberry"
tuple5=tuple(y)
print(tuple5)

('Mangoes', 'Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon', 'Apple')

In [31]:
y = list(tuple5)
y.remove("Mangoes")
tuple5=tuple(y)
print(tuple5)

('Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon', 'Apple')

In [32]:
y = list(tuple5)
y.pop()
tuple5=tuple(y)
print(tuple5)

('Banana', 'Melon', 'Strawberry', 'Cherry', 'Watermelon')

In [33]:
del tuple5
print(tuple5)

NameError: name 'tuple5' is not defined

In [34]:
x = (1,2,3) #packing
(a,b,c) = x #unpacking
print(a+b+c)
print(a,b,c)

6
1 2 3

In [37]:
fruits=("apple","Banana","Orange") #packing
(Red,Yellow,Orange)=fruits #unpacking
print(Orange)
print(Yellow)

Orange
Banana

In [39]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
(a,b,c) = fruits
print('a:',a)
print('b:',b)
print('c:',c)

Enter the Value:12
Enter the Value:13
Enter the Value:14
a: apple
b: Banana
c: Orange

In [40]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
print(tup)
(a,b,c) = fruits
print('a:',a)
print('b:',b)
print('c:',c)
print(tup)

Enter the Value:12
Enter the Value:13
Enter the Value:14
(12, 13, 14)
a: apple
b: Banana
c: Orange
(12, 13, 14)

In [41]:
fruits=("apple","Banana","Orange")
a=int(input("Enter the Value:"))
b=int(input("Enter the Value:"))
c=int(input("Enter the Value:"))
tup = (a,b,c)
print("Id: ",id(tup),tup)
print("Fruits: ",id(fruits),fruits)
(a,b,c) = fruits
print("Id: ",id(a),'a:',a)
print("Id: ",id(b),'b:',b)
print("Id: ",id(c),'c:',c)
tup=(a,b,c)
print("Id: ",id(tup),tup)
print("Fruits: ",id(fruits),fruits)

Enter the Value:12
Enter the Value:13
Enter the Value:14
Id:  886293804096 (12, 13, 14)
Fruits:  886289291904 ('apple', 'Banana', 'Orange')
Id:  886279511152 a: apple
Id:  886293828272 b: Banana
Id:  886252976176 c: Orange
Id:  886289274368 ('apple', 'Banana', 'Orange')
Fruits:  886289291904 ('apple', 'Banana', 'Orange')

In [51]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
print(tuple5)
(green, yellow, red)=tuple5
print(green)
print(yellow)
print(red)

('Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple')

ValueError: too many values to unpack (expected 3)

In [52]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, yellow, *red)=tuple5
print(green)
print(yellow)
print(red)

Mangoes
Banana
['Melon', 'Kiwi', 'Cherry', 'Orange', 'Apple']

In [53]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, *yellow, *red)=tuple5
print(green)
print(yellow)
print(red)

SyntaxError: two starred expressions in assignment (<ipython-input-53-0d0bb779a690>, line 2)

In [54]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(green, *yellow, red)=tuple5
print(green)
print(yellow)
print(red)

Mangoes
['Banana', 'Melon', 'Kiwi', 'Cherry', 'Orange']
Apple

In [55]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
(*green, yellow, red)=tuple5
print(green)
print(yellow)
print(red)

['Mangoes', 'Banana', 'Melon', 'Kiwi', 'Cherry']
Orange
Apple

In [56]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
for i in range(len(tuple5)):
    print(tuple5[i])

Mangoes
Banana
Melon
Kiwi
Cherry
Orange
Apple

In [57]:
tuple5 = ("Mangoes","Banana","Melon","Kiwi","Cherry","Orange","Apple")
i=0
while i < len(tuple5):
    print(tuple5[i])
    i+=1

Mangoes
Banana
Melon
Kiwi
Cherry
Orange
Apple

In [58]:
#Reverse a tuple
def Reverse(tuples):
    new_tup=tuples[::-1]
    return new_tup

tuples=('z','a','d','f','e')
print(Reverse(tuples))

('e', 'f', 'd', 'a', 'z')

In [59]:
x=(1,2,3,4,5)
y=x[::-1]
print(y)

(5, 4, 3, 2, 1)

In [64]:
#Counting without using length
def countX(tup, x):
    count=0
    for i in tup:
        if(i==x):
            count = count+1
    return count
tup=(10,8,5,2,10,15,10,8,5,8,8,2)
enq=8
print(countX(tup, enq))
print(countX(tup, 10))

4
3

In [66]:
tup=(10,8,5,2,10,15,10,8,5,8,8,2)
num=int(input('Enter a number'))
count=0
for i in tup:
    if i==num:
        count=count+1
print('The number of times its repeated: ',count)

Enter a number8
The number of times its repeated:  4

# Sets

In [67]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
print(x)

{2, 5, 8, 10, 15}

In [69]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
print(len(x))

5

In [70]:
x={10,8,5,2,10,15,10,8,5,8,8,2}
y={"hey","hey","hello","alright","good","welldone","good"}
z={"true","false","True","False","true"}
print(x)
print(y)
print(z)

{2, 5, 8, 10, 15}
{'welldone', 'hello', 'good', 'hey', 'alright'}
{'true', 'False', 'false', 'True'}

In [72]:
del set

In [73]:
x=(10,8,5,2,10,15,10,8,5,8,8,2)
z=x
y=set((x))
print(y)
x=tuple((y))
print(x)
length=len(x)
print(length)

{2, 5, 8, 10, 15}
(2, 5, 8, 10, 15)
5

In [92]:
x=(10,8,5,2,10,15,10,8,5,8,8,2)
z=x
y=set((x))
print(y)
x=tuple((y))
print(x)
length=len(x)
print(length)
(a,b,c,d,e) =x
count1=0
count2=0
count3=0
count4=0
count5=0
print(a,b,c,d,e)
print(z)
if i in z:
    if i==a:
        count1=count1+1
    if i==b:
        count2=count2+1
    if i==c:
        count3=count3+1
    if i==d:
        count4=count4+1
    if i==e:
        count5=count5+1
print(count1, count2, count3, count4, count4, count5)

{2, 5, 8, 10, 15}
(2, 5, 8, 10, 15)
5
2 5 8 10 15
(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
1 0 0 0 0 0

In [93]:
set1={"abc",34,True,40,"male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [94]:
set2={"apple","banana","cherry"}
print(type(set2))

<class 'set'>

In [96]:
set3={}
print(set3)
x='Pythonforeverything'
set3=set(x)
print(set3)

{}
{'f', 'n', 'o', 'r', 'y', 'g', 'v', 'e', 'P', 't', 'i', 'h'}

In [97]:
set3=set(["python","for","everyone"])
print(set3)

{'for', 'everyone', 'python'}

In [98]:
set3=set(["python","for","everyone",9.00,11.2,34,97,0,1])
print(set3)

{0, 97, 34, 1, 'python', 9.0, 11.2, 'for', 'everyone'}

In [100]:
set3=set(["python","for","everyone",9.00,11.2,34,97,0,1])
for x in set3:
    print(x)

0
97
34
1
python
9.0
11.2
for
everyone

In [101]:
set3=set(["python","for","everyone",9.00,11.2,34,97,0,1])
print("python" in set3)

True

In [102]:
set3={"python","for","everyone",9.00,11.2,34,97,0,1}
set3.add("apple")
print(set3)

{0, 97, 34, 1, 'python', 9.0, 11.2, 'for', 'everyone', 'apple'}

In [106]:
x=set()
x.add(1)
x.add(2)
x.add(3)
x.add((1,2,3))
print(x)

{1, 2, 3, (1, 2, 3)}

In [107]:
set1=set()
set2=set()
i=1
while i<11:
    if i%2 ==0:
        set1.add(i)
    else:
        set2.add(i)
    i=i+1
print(set1)
print(set2)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}

In [108]:
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [109]:
set1={1,2,3}
set2={4,5,6}
set2.update(set1)
print(set2)

{1, 2, 3, 4, 5, 6}

In [110]:
set1=set([4,5,(6,7)])
set1.update([10,11])
print("\n Set after addition of elements using update \n")
print(set1)

 Set after addition of elements using update

{4, 5, 10, 11, (6, 7)}

In [114]:
thisset={"apples","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apples', 'cherry'}

In [115]:
thisset={"apples","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apples', 'cherry'}

In [116]:
thisset={"apples","banana","cherry"}
thisset.discard("watermelon")
print(thisset)

{'banana', 'apples', 'cherry'}

In [117]:
thisset={"apples","banana","cherry"}
thisset.remove("watermelon")
print(thisset)

KeyError: 'watermelon'

In [118]:
set1=set([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])
count=0
for i in set1:
    count=count+1
print(count)
i=1
while i<=count:
    if(i%2==0):
        set1.discard(i)
    i=i+1
print(set1)

19
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [120]:
thisset={"apples","banana","cherry"}
thisset.pop()
print(thisset)

{'apples', 'cherry'}

In [121]:
thisset={"apples","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [122]:
set1={1,2,3}
set2={4,5,6}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [124]:
set1={1,2,3}
set2={4,5,6}
set3=set1.intersection(set2)
print(set3)

set()

In [ ]:
set1={1,2,3}
set2={4,5,6}
set4
set3=set1.intersection(set2)
print(set3)