In [1]:
current_level = 0
final_level=5
game_completed = True
while current_level <= final_level:
    if game_completed:
        print('You have passed level', current_level)
        current_level+=1
print('Level Ends')

You have passed level 0
You have passed level 1
You have passed level 2
You have passed level 3
You have passed level 4
You have passed level 5
Level Ends

In [2]:
counter=0
while counter <3:
    print("Inside loop")
    counter+=1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [3]:
#print all letter except 'e' and 'o'
i=0
a='pythonforeveryone'
while i<len(a):
    if a[i]=='e' or a[i]=='o':
        i+=1
        continue
    print('Current Letter: ',a[i])
    i+=1

Current Letter:  p
Current Letter:  y
Current Letter:  t
Current Letter:  h
Current Letter:  n
Current Letter:  f
Current Letter:  r
Current Letter:  v
Current Letter:  r
Current Letter:  y
Current Letter:  n

In [4]:
i=0
while i < 4:
    i+=1
    continue
    print(i)
else:
    print("No Break")

No Break

In [6]:
i=0
while i < 4:
    i+=1
    print(i)
    break
else:
    print("No Break")

1

In [7]:
i=0
while i < 4:
    i+=1
    pass
    print(i)
else:
    print("No Break")

1
2
3
4
No Break

## Function

In [1]:
def add(num1, num2):
    num3=num1+num2
    print(num3)
add(3,4)

7

In [3]:
x=int(input('Enter the number 1:'))
y=int(input('Enter the number 2:'))
def add(num1, num2):
    num3=num1+num2
    print(num3)
add(x,y)

Enter the number 1:94
Enter the number 2:45
139

In [4]:
import math

In [8]:
z=math.sqrt(4)
x=[1,2,3,4,5]
Sum = sum(x)
print("Sum: ",Sum)
print("Sqrt: ",z)

Sum:  15
Sqrt:  2.0

In [12]:
x=int(input('Enter the number 1:'))
y=int(input('Enter the number 2:'))
def arithematic(num1, num2):
    add=num1+num2
    subs=num1-num2
    mul=num1*num2
    div=num1/num2
    return add,subs, mul, div
a,s,m,d = arithematic(x,y) 
print("Addition: ",a)
print("Substraction: ",s)
print("Multiplication: ",m)
print("Division: ",d)

Enter the number 1:45
Enter the number 2:34
Addition:  79
Substraction:  11
Multiplication:  1530
Division:  1.3235294117647058

In [14]:
def summ(num):
    sum = 0
    for i in range(1,num+1):
        sum=sum+i
    print(sum)
n=int(input('Enter the number'))
summ(n)

Enter the number67
2278

In [15]:
def num(x,y,z=30):
    print(x,y,z)
num(10,20)

10 20 30

In [17]:
def num(x=10,y=20):
    print(x,y)
num()

10 20

In [18]:
def fun(*kids):
    print("The youngest child is " + kids[(len(kids)-1)])
fun('x',"y","r","t","u")

The youngest child is u

In [25]:
def my_function(**kid):
    print("His last name is "+kid["lname"])
my_function(fname='Nikita',lname='Dubey')

His last name is Dubey

In [19]:
def my_function(food):
    for x in food:
        print(x)
fruits={"apple","banana","cherry"}
my_function(fruits)

cherry
banana
apple

In [21]:
def my_function(food):
    for x in food:
        print(x)
fruits=("apple","banana","cherry")
my_function(fruits)

apple
banana
cherry

In [22]:
def my_function(food):
    for x in food:
        print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [23]:
def my_function():
    pass
my_function()

In [31]:
def find_sum(*numbers):
    results=0
    for num in numbers:
        results=results+num
    print("Sum = ", results)
find_sum(1,2,3)
find_sum(1,2,3,4)

Sum =  6
Sum =  10

In [34]:
def find_sum(**numbers):
    results=0
    for num in numbers:
        results=results+numbers[num]
    print("Sum = ", results)
find_sum(a=1,b=2,c=3)
find_sum(a=1,b=2,c=3,d=4)

Sum =  6
Sum =  10

## Recursion

In [ ]:
def factorial(x):
    if x== 1:
        return 1
    else: 
        return(x*factorial(x-1))
r=4
print('Factorial: ',factorial(r))

In [41]:
def fibonacci(x):
    if x<=1:
        return 1
    return (fibonacci(x-2)+fibonacci(x-1))
print("Fibonacci : ",fibonacci(9))

Fibonacci :  55

## Lambda Function

In [43]:
greet = lambda : print('Hello World')
greet

In [44]:
greet = lambda : print('Hello World')
greet()

Hello World

In [45]:
x = lambda y: y * y
x(10)

100

In [47]:
x = lambda y: math.sqrt(y)
x(10)

3.1622776601683795

In [48]:
mul=lambda x,y : x*y
mul(12,10)

120

In [49]:
x = lambda num: print('Even') if num%2==0 else print('Odd')
x(5)

Odd

In [50]:
l = [10,5,12,78,6,1,7,9]
even_nos=list(filter(lambda x: x%2 == 0,l))
print("Even number are : ", even_nos)

Even number are :  [10, 12, 78, 6]

In [51]:
x=lambda num:print('Pos') if num>0 else print('Neg')
x(-10)

Neg

In [53]:
x = lambda a,b,c: print(c) if(c>a and c>b) else print(b) if(b>a and  b>c) else print(a)
x(1,4,9)

9

## map

In [54]:
list1=[2,3,4,5,6,7,8]
list2=list(map(lambda x: x*x*x, list1))
print("Cube values are: ", list2)

Cube values are:  [8, 27, 64, 125, 216, 343, 512]

In [55]:
list1=[2,3,4,5,6,7,8]
list2=list(map(lambda x: x*x, list1))
print("Square values are: ", list2)

Square values are:  [4, 9, 16, 25, 36, 49, 64]

In [58]:
list1=[2,3,4,5,6,7,8]
list2=list(map(lambda x: x+(x-1), list1))
print("Sum valuebs are: ", list2)

Sum values are:  [3, 5, 7, 9, 11, 13, 15]

In [59]:
def outer():
    message = 'local'
    def inner():
        nonlocal message
        message = 'nonlocal'
        print("inner: ", message)
    inner()
    print("outer: ",message)
outer()

inner:  nonlocal
outer:  nonlocal

In [60]:
def outer():
    message = 'local'
    def inner():
        message = 'nonlocal'
        print("inner: ", message)
    inner()
    print("outer: ",message)
outer()

inner:  nonlocal
outer:  local